<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/base.css">
    <title>Nest-demo</title>
</head>

<body>
    <div style="text-align: center;">
        <h1><%=title%></h1>
        模板位置: <%=templatePath%>
        <br>
        <hr size="1" />
        <a href="news">news</a>
        <hr size="1" />
        <img src="/static/1.png" alt="" />
        <hr size="1" />
        截取字符串： <%=helper.substring('截取字符串',1,3)%>
        <hr size="1" />
        <a href="<%=config.adminPath%>/panel">后台管理</a>
    </div>
</body>

</body>

</html>